@use "@carbon/react";

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap");

html,
body {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
