@use "@carbon/react";

.cds--data-table-header {
  padding-bottom: 0 !important;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
